body{
font-family: Arial;
padding:20px;
background:#fafafa;
}

h1{
text-align:center;
}

/* Lunch inputs */

.lunch-row{
margin-bottom:18px;
}

.lunch-row label{
display:block;
font-weight:bold;
margin-bottom:6px;
}

.lunch-row input{
width:100%;
padding:14px;
font-size:16px;
border-radius:6px;
border:1px solid #ccc;
}

/* Menu cards */

.menu-item{
display:flex;
align-items:center;
margin-bottom:15px;
background:white;
padding:12px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.menu-item img{
width:75px;
height:75px;
object-fit:cover;
border-radius:8px;
margin-right:15px;
}

.menu-content{
flex:1;
}

.menu-name{
font-weight:bold;
margin-bottom:6px;
}

.kid-options label{
margin-right:15px;
font-size:14px;
}

/* Save button */

button{
margin-top:20px;
padding:14px;
width:100%;
font-size:18px;
background:#28a745;
color:white;
border:none;
border-radius:8px;
}

button:active{
background:#218838;
}
